{% load static%}
<html>
    <head><head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="{% static 'mainSite/css_js/style.css'%}">
        
        <!------------------LIght BOx for Gallery-------------->
        <link rel="stylesheet" href="{% static 'mainSite/css_js/lightbox.min.css'%}">
        <script type="text/javascript" src="{% static 'mainSite/css_js/lightbox-plus-jquery.min.js' %}"></script>
        <!------------------LIght BOx for Gallery-------------->
        <link rel="icon"  href="/images/favtest.ico"/>
        
        
        </head>
        <title>Friends</title>
    </head>
    <body>
        
        <script>
            function checkAndAddBtn(id,olist){
                console.log(olist);
                var me={{myid}};
                var btn = document.getElementById('btn'+id);
                var txt = document.getElementById('stat'+id);
                var state=0;
                if(olist.includes(me))
                    state+=1;
                if(flist.includes(id))
                    state+=2;

                
                if(state==0){
                    btn.classList.toggle('fa-plus');    
                    txt.innerHTML="Add Friend";                
                }else if(state==3){
                    //TODO add confirmation
                    btn.classList.toggle('fa-times');
                    txt.innerHTML="Remove Friend";         
                }else if(state==2){
                    btn.classList.toggle('fa-spinner');
                    txt.innerHTML="Friend Request Sent";         
                }else{
                    btn.classList.toggle('fa-check');
                    txt.innerHTML="Accept Friend Request";         
                }
            }
        </script>
        

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:#3097D1">
        <a href="{% url 'loggedHome' %}" class="navbar-brand"><img src="{% static 'mainSite/images/brand-white.png'%}" alt="logo" class="img-fluid" width="80px" height="100px"></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span class="navbar-toggler-icon"></span></button>


        <div class="collapse navbar-collapse" id="responsive">
            <ul class="navbar-nav mr-auto text-capitalize">
                <li class="nav-item"><a href="{% url 'loggedHome'%}" class="nav-link">home</a></li>
                <li class="nav-item"><a href="{% url 'userProfile'%}?uid={{myid}}" class="nav-link">profile</a></li>
                <li class="nav-item"><a href="#modalview" data-toggle="modal" class="nav-link">messages</a></li>
                <li class="nav-item"><a href="notification.html" class="nav-link">docs</a></li>
                <li class="nav-item"><a href="#" class="nav-link active">discover</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link ">logout</a></li>

            </ul>

            <form action="#" class="form-inline ml-auto my-auto d-none d-md-block">
                <input type="text" name="search" id="search" placeholder="Search" class="form-control form-control-sm">
            </form>
            <a href="#" class="text-decoration-none" style="color:#CBE4F2;font-size:22px;"><i class="far fa-bell ml-3 d-none d-md-block"></i></a> 
            <a href="{% url 'userProfile' %}?uid={{myid}}"><img src="/{{mydp}}" alt="" class="rounded-circle ml-3 d-none d-md-block" width="32px" height="32px"></a>

        </div>
    </nav>
<br>
    <!---------------------------------------------Ends navigation------------------------------>


    <script> 
        var flist={{friendList}};
    </script>



    <!---------------------------------------------Start Middle------------------------------>
    <center>
    <div class="container my-10">
        <div >
            <div class="middle-column">
                <div class="card" >
                    <div class="card-header bg-transparent">
                        <form class="form-inline" id="search">
                            <div class="input-group w-100">
                            <input type="text" name="s" id="s" placeholder="Find Someone Awesome" class="form-control form-control-md">
                            <div class="input-group-append">
                                    <button type="submit" class="input-group-text" >
                                            <i class="fas fa-search"></i>
                                    </button>
                            </div>
                            </div>
                        </form>
                    </div>

        {% for user in users%}                
        <div id="Uid{{user.id}}" class="card-body"><!--User-->
            <div class="media">
                <a href="{% url 'userProfile' %}?uid={{user.id}}" >
                <img src="/{{user.profilePicture}}" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
                <div class="media-body">
                    <h5 class="card-title text-justify">{{user.firstName}} {{user.lastName}}</h5></a>    
                    <p class="card-text text-justify">{{user.bio}}</p>    
                </div>
                <small>  
                    <div type="button" class="input-group-text" onclick="alert('coming soon');" >
                        <div class="mx-2" id="stat{{user.id}}">now</div>  
                        <i id="btn{{user.id}}" class="fas"></i>
                        <script>
                        checkAndAddBtn({{user.id}},{{user.flist}});
                        </script>
                        <!-- <i class="fas fa-check"></i>
                        <i class="fas fa-times"></i>
                        <i class="fas fa-spinner"></i> -->
                        
                    </div>
                </small>
            </div>
        </div>
        <hr>
        {% endfor%}
    <br> <br> <br><br> <br> <br>
</div> 
</center>   
    <!------------------------Middle column Ends---------------->






    </body>
</html>