{% load static%}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="{% static 'mainSite/css_js/style.css'%}">
        
        <!------------------LIght BOx for Gallery-------------->
        <link rel="stylesheet" href="{% static 'mainSite/css_js/lightbox.min.css'%}">
        <script type="text/javascript" src="{% static 'mainSite/css_js/lightbox-plus-jquery.min.js' %}"></script>
        <!------------------LIght BOx for Gallery-------------->
        
        
        
        
        
        </head>
        <title>HOME</title>
    </head>
    <body>
        
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:#3097D1">
        <a href="{% url 'loggedHome' %}" class="navbar-brand"><img src="{% static 'mainSite/images/brand-white.png'%}" alt="logo" class="img-fluid" width="80px" height="100px"></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span class="navbar-toggler-icon"></span></button>


        <div class="collapse navbar-collapse" id="responsive">
            <ul class="navbar-nav mr-auto text-capitalize">
                <li class="nav-item"><a href="{% url 'loggedHome'%}" class="nav-link active">home</a></li>
                <li class="nav-item"><a href="{% url 'userProfile'%}?uid={{myid}}" class="nav-link">profile</a></li>
                <li class="nav-item"><a href="#modalview" data-toggle="modal" class="nav-link">messages</a></li>
                <li class="nav-item"><a href="notification.html" class="nav-link">docs</a></li>
                <li class="nav-item"><a href="{% url 'friends' %}" class="nav-link ">discover</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link ">logout</a></li>

            </ul>

            <form action="#" class="form-inline ml-auto my-auto d-none d-md-block">
                <input type="text" name="search" id="search" placeholder="Search" class="form-control form-control-sm">
            </form>
            <a href="#" class="text-decoration-none" style="color:#CBE4F2;font-size:22px;"><i class="far fa-bell ml-3 d-none d-md-block"></i></a> 
            <a href="{% url 'userProfile'%}?uid={{myid}}"><img src="/{{mydp}}" alt="" class="rounded-circle ml-3 d-none d-md-block" width="32px" height="32px"></a>





        </div>




    </nav>


    <!---------------------------------------------Ends navigation------------------------------>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!---------------------START BODY---------------------------->
<center>
<div class="container my-10">
    <div >
        <div class="middle-column">
            <div class="card" >
                <div class="card-header bg-transparent">
                    <form class="form-inline" id="search">
                        <div class="input-group w-100">
                        <input type="text" name="message" id="s" placeholder="Write A Post" class="form-control form-control-md">
                        <div class="input-group-append">
                                <button type="submit" class="input-group-text" >
                                        <i class="fas fa-camera"></i>
                                </button>
                                <button type="submit" class="input-group-text" >
                                        <i class="fas fa-search"></i>
                                </button>

                            </div>
                        </div>
                    </form>
                </div>

    {% for post in posts%}                
    <div id="Post{{post.id}}" class="card-body"><!--User-->
        <div class="media">
            <a href="{% url 'userProfile' %}?uid={{user.id}}" >
            <div class="media-body">
                <h5 class="card-title text-justify">{{post.id}}</h5></a>   
                <p class="card-text text-justify">{{post.body}}</p>    
            </div>
            <small> 
                <div class="input-group-text" >
                    <div class="mx-2" id="edit{{user.id}}">Edit</div>  
                    <i id="btn{{user.id}}" class="fas" onclick="alert('coming soon');"></i>
                    
                    <!-- <i class="fas fa-check"></i>
                    <i class="fas fa-times"></i>
                    <i class="fas fa-spinner"></i> -->
                    
                </div>
            </small>
        </div>
    </div>
    <hr>
    {% endfor%}
<br> <br> <br><br> <br> <br>
</div> 
</center>   






<!---------------------END BODY---------------------------->







    </body>
</html>