{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
    <title>{% block title %} Title Goes Here
    {% endblock title %}</title>
  </head>
  <body>
      <img src="images/background.jpg" style="position: absolute;height:100%;width:100%;background-position: cover;background-repeat: no-repeat ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: cover;">
    <!--nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container-fluid" >
        
        <a class="navbar-brand" href="/"><img src="images/logo.png" alt="??" width="30" height="24" class="d-inline-block align-text-left"> FameNow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        {% block navbar%}
  
        {% endblock%}
        </div>
    </div>
    </nav>
    <!-- CAROUSEL BACKGROUND
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    -->
    
    <!---Everything below the navbar-->
      <div class="container-md" style="margin:auto;display:flex;align-items:center;position: relative;min-height: 80vh;align-items: center;">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.8);margin:auto;display:flex;align-items:center;width: 24rem;border: 3px solid purple;vertical-align: middle;">
          <div class="card-body">
            <center>
            {% block content%}
                
            {% endblock content%}
            </center>
          </div>
        </div>
      </div>
      <script>var msg="{{message}}"; if(msg.length!=0) alert(msg);</script>
  </body>
</html>
