{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="icon"  href="/images/favtest.ico"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="{% static 'mainSite/css_js/style.css'%}">

<!------------------LIght BOx for Gallery-------------->
<link rel="stylesheet" href="{% static 'mainSite/css_js/lightbox.min.css'%}">
<script type="text/javascript" src="{% static 'mainSite/css_js/lightbox-plus-jquery.min.js' %}"></script>
<!------------------LIght BOx for Gallery-------------->





<title>Profile</title>
</head>
<body>


    <!-------------------------------NAvigation Starts------------------>

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:#3097D1">
            <a href="{% url 'loggedHome' %}" class="navbar-brand"><img src="{% static 'mainSite/images/brand-white.png'%}" alt="logo" class="img-fluid" width="80px" height="100px"></a>
    
            <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span class="navbar-toggler-icon"></span></button>
    
    
            <div class="collapse navbar-collapse" id="responsive">
                <ul class="navbar-nav mr-auto text-capitalize">
                    <li class="nav-item"><a href="{% url 'loggedHome'%}" class="nav-link">home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link  active">profile</a></li>
                    <li class="nav-item"><a href="#modalview" data-toggle="modal" class="nav-link">messages</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">docs</a></li>
                    <li class="nav-item"><a href="{% url 'friends' %}" class="nav-link ">friends</a></li>
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link ">logout</a></li>
    
                </ul>
    
                <form action="#" class="form-inline ml-auto d-none d-md-block">
                    <input type="text" name="search" id="search" placeholder="Search" class="form-control form-control-sm">
                </form>
                <a href="#" class="text-decoration-none" style="color:#CBE4F2;font-size:22px;"><i class="far fa-bell ml-3 d-none d-md-block"></i></a> 
                <a href="{{myProfile}}"><img src="/{{mydp}}" alt="" class="rounded-circle ml-3 d-none d-md-block" width="32px" height="32px"></a>
    
    
    
    
    
            </div>
    
    
    
    
        </nav>
    

        <!---------------------------------------------Ends navigation------------------------------>







         <!---------------------------MOdal Section  satrts------------------->


        <!-----------------------------------Banner/img Starts-------------------->


        <div class="banner" style="background-image: url({% static 'mainSite/images/banner.jpg'%});">
            <div class="banner-title d-flex flex-column justify-content-center align-items-center">
                <img src="/{{dp}}" alt="img" class="rounded-circle" width="80px" height="80px">
                <h3 class="text-light">{{fname}} {{lname}}</h3>
                <p class="text-light">{{bio}}</p>

            </div>


            <div class="banner-end d-flex justify-content-center align-items-end">
                <ul class="nav text-light">
                    <li class="nav-item nav-link active">{{mail}}</li>
                    <li class="nav-item nav-link">{{phone}}</li>
                    <li class="nav-item nav-link">Anothers</li>

                </ul>

            </div>


        </div>

        

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>





<!---------------------------------------TOP ENDS---------------------------------------------------->

<div class="container-fluid mx-0">
    <div class="row">


      <div class="col-md">
        <div class="container">
            <div class="card">
                <div class="card-title">
                    <center>FOLLOWERS</center>
                    
                </div>
            </div>

            {% for user in followers%}
            <div class="card">
                <div id="Uid{{user.id}}" class="card-body py-0 px-auto"><!--User-->
                    <div class="media">
                        <img src="/{{user.dp}}" alt="img" width="40px" height="40px" class="rounded-circle mr-4">
                        <a href="{% url 'userProfile' %}?uid={{user.id}}" >
                            
                            <div class="media-body">
                                {{user.name}}
                            </div>
                        </a>  
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>

       
        <div class="col-md">
            <div class="container">
                <div class="card">
                    <div class="card-title">
                        <center>POSTS GO HERE</center>  
                    </div>
                </div>
             </div>
        </div>


      <div class="col-md">
        <div class="container">
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title">
                            <center>FOLLOWING</center>
                            
                        </div>
                    </div>
            {% for user in flist%}
            <div class="card">
                <div id="Uid{{user.id}}" class="card-body py-0 px-auto"><!--User-->
                    <div class="media">
                        <img src="/{{user.dp}}" alt="img" width="40px" height="40px" class="rounded-circle mr-4">
                        <a href="{% url 'userProfile' %}?uid={{user.id}}" >
                            
                            <div class="media-body">
                                {{user.name}}
                            </div>
                        </a>  
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
      </div>
    </div>
  </div>


</body>
</html>